.barraSuperior {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barraDeBusca {
    background-color: dodgerblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pesquisa {
    width: 150px;
}

.barraDeAcesso {
    background-color: azure;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.btns {
    color: black;
    font-size: 10px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center
}

.btns:hover {
    background-color: black;
    color: white;
}

.logoIfal {
    width: 200px;
}

.user {
    width: 70px;
}